@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #273043;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
}

.grid-col-span{
    grid-column: span 2;
}
.calculator{
    border: 2px solid red;
    margin-top: 3rem;
}
.screen{
    text-align: right;
    font-size: 50px;
    overflow: hidden;
    color:white;
    margin-right: 1rem;
}
.screen-top{
    font-size: 30px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:0.5rem;
    padding: 10px;
}

.buttons button{
    color: white;
    background-color: rgb(36, 44, 61);
    padding: 10px;
    font-size: 40px;
    outline: none;
    border: none;
    text-align: center;
    transition: 0.1s;
    border-radius: 10px;
}

.buttons > .operation{
    background-color: #caa10b;
}

.buttons button:hover{
    transform: scale(1.1);
}

.buttons button:active {
  box-shadow: #1d2035 0 3px 7px inset;
  transform: translateY(2px);
}